/********** FORMATTAZIONE INIZIALE**********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********** FONT **********/

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 77px;
}
  
h2 {
    font-size: 40px;
}
  
h3 {
    font-size: 25px;
}
  
h4, h5 {
    font-size: 16px;
}

p {
    font-size: 16px;
}

/********** UTILITIES **********/

.row:after {
    content: "";
    display: table;
    clear: both;
}

/********** LAYOUT **********/

.container-large {
    max-width: 1367px;
    width: 100%;
    margin: auto;
    position: relative;
    top: 80px;
}

.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
}

[class*="col_"] {
    float: left;
}

.col_1_9 {
    width: calc(100% / 9);
}

.col_2_9 {
    width: calc(100% / 9 * 2);
}

.col_3_9 {
    width: calc(100% / 9 * 3);
}

.col_4_9 {
    width: calc(100% / 9 * 4);
}

.col_5_9 {
    width: calc(100% / 9 * 5);
}

.col_6_9 {
    width: calc(100% / 9 * 6);
}

.col_1-2 {
    width: 50%;
}

/********** STYLES **********/

nav {
    background-color: white;
    padding: 8px 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 75px;
    z-index: 99;
}

nav ul {
    list-style: none;
    margin: 10px 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    line-height: 40px;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}

nav ul li a img{ 
    height: 30px;
    vertical-align: middle;
}

.text-right {
    text-align: right;
    margin-right: 10px;
}

.btn-blue {
    background-color: #1970ff;
    color: white;
}

.btn-lightblue {
    background-color: #307eff;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    font-size: 18px;
}

.container-full {
    margin-top: 75px;
    background-color: #b4d0e7;
}

.container-full .container-large h1 {
    margin-bottom: 50px;
}

.container-full .container-large .col_3_9 {
    padding-right: 60px;
}

.container-large .col_6_9 img {
    max-width: 95%;
}

.btn {
    margin-top: 40px;
    margin-bottom: 20px;
}

.arrow p {
  font-size: 50px;
  margin-top: 25px;
}